class System.Collections.Generic.List<T>

    <h1>Perfil Administrador</h1> 
    <form asp-action="Administrador" method="post"> 
        <div>
            <label>Mision
                parrafoMision
            </label>
            <label>Vision
                parrafoVision
            </label> 
            <label>Usuario</label>
            <button>Usuario</button>
            <label>Matriculas</label>
            <button>Matriculas</button>
            <label>Asistencias</label>
            <button>Asistencias</button>
            <label>Proyectos</label>
            <button>Proyectos</button>
            <label>Rendimiento</label>
            <button>Rendimiento</button>
            <label>Estudios Socioeconomicos</label>
            <button>Estudios Socioeconomicos</button>
            <label>Tamizaje</label>
            <button>Tamizaje</button>

        </div>

        


    </form>

