class System.Collections.Generic.List<T>

<h1>Pantalla de entrada</h1>

<form asp-action="Usuario" method="post">
    <div asp-asp-validation-summary="All"></div>
    <div>
        <label>Usuario:</label>
        <input asp-formaction="="Usuario">
        <label>Contraseña</label>
        <input asp-formaction="="Contraseña" >
        <label>¿Olvido Usuario?</label>
        <input asp-formaction="="¿Olvido Contraseña/Usuario?" >
        <label>¿Olvido Contraseña?</label>
        <input asp-formaction="="¿Olvido Contraseña?" >
    </div>
   
    <button>Ingresar</button>
</form>